@using WebUI.Controllers
@model Class1
@{
    ViewData["Title"] = "AddEmpoyee";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>AddEmpoyee</h1>

<form method="post">
    <label>Çalışan Adı Soyadı</label>
    <input type="tetx" asp-for="@Model.Name" class="form-control"/>
    <br />
    <button type="submit" class="btn btn-info">Çalışan Ekle</button>
</form>